@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Roboto&display=swap');
body {
  font-family: "Roboto";
  font-size: 14px;
  background: rgba(189, 189, 189, 0.3);
  margin: 0;
  padding: 0;
}
input:focus {
  outline: none;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 40px !important;
  border-radius: 5px;
  background: rgba(189, 189, 189, 0.3);
  border: none;
}
:where(.css-dev-only-do-not-override-17a39f8).ant-select-single .ant-select-selector .ant-select-selection-placeholder,
:where(.css-dev-only-do-not-override-17a39f8).ant-select-single .ant-select-selector .ant-select-selection-item {
  line-height: 40px;
}

.ant-checkbox-checked .ant-checkbox-inner{
  background: #333 !important;
  border-color: #333 !important;
}
.ant-checkbox-checked .ant-checkbox-inner{
  background: #333 !important;
  border-color: #333 !important;
}
.custom-checkbox{
  margin: 10px !important;
}